*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: Bahnschrift;
  }
  nav{
    background: black;
    height: 80px;
    width: 100%;
  }
  label.nadpis{
    margin-left: -2.5rem;
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgb(146, 124, 0);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.nadpis{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #ffffff;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: 100%;
    height: calc(100vh - 80px);
  }
  a.footer.body{
        background: black;
  }
  .footer{          
        text-align: center;
        padding-left: 20rem;
        padding-right: 20rem;
        padding-top: -200rem;
        color:white;
        font-size: 20px;
        background: black;
        height: 80px;
        width: 100%;
        display: inline-block;
  }
  .text1{          
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: -200rem;
    color:white;
    font-size: 20px;
    background-color:black;
    height: 270px;
    width: 100%;
    display: inline-block;
  }
  .background-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 50%;
  }
  .text2{          
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: -200rem;
    color:white;
    font-size: 20px;
    background-color:black;
    height: 300px;
    width: 100%;
    display: inline-block;
  }
  .text3 h1{
    text-align: center;
  }
  .text3 strong{
    font-size:25px;
    color:yellow;
  }
  .text3{          
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: -200rem;
    color:white;
    font-size: 20px;
    background-color:black;
    height: 320px;
    width: 100%;
    display: inline-block;
  }
  .text4{  
    text-align: center;        
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: -200rem;
    color:white;
    font-size: 20px;
    background-color:black;
    height: 575px;
    width: 100%;
    display: inline-block;
  }
  .text5{          
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: -200rem;
    color:white;
    font-size: 20px;
    background-color:black;
    height: 450px;
    width: 100%;
    display: inline-block;
  }
  .text5 strong{
    font-size:25px;
    color:yellow;
  }

  
  

